@font-face {
	font-family: raleway;
	src: url(police/Raleway.ttf);
}

	/*en tete*/
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	width: 70px;
	float: left;
}
.menu {
	display: flex;
	list-style-type: none;
	flex-direction: row;
}
.menu li {
	width: 150px;
   	text-align: center;
}
.menu a:hover {
	color: #0065fc;
	border-top: #0065fc solid 2px;
	padding-top: 38px;
}
	


	/*corps du texte*/
body {
	font-family: raleway;
	margin: 24px 24px 0px 24px;
}
.fa-solid {
	color: #0065FC;
}
a {
	text-decoration: none;
	color: black;
}


	/*Formulaire et h1*/
.titre_formulaire {
	font-weight: 700;
}	
.section_formulaire {
	padding-top: 23px;
}
.formulaire {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
.localisation {
	border: 1px solid #f2f2f2;
	border-radius: 15px 0px 0px 15px;
	padding: 16px 18px 15px 18px;
	background-color: #f2f2f2;
}
#location {
	color: black;
}
#recherche {
	padding-left: 12px;
	font-size: 18px;
	font-family: raleway;
	font-weight: 700;
}
#submit {
	border: solid 1px #0065fc;
	background-color: #0065fc;
	border-radius: 0px 15px 15px 0px;
	padding: 15px;
	color: #ffffff;
	font-size: 18px;
	font-family: raleway;
	cursor: pointer;
}
#submit:hover {
	box-shadow: 4px 4px 6px #000093;
}
i.loupe {
	border: solid 1px #0065fc;
	background-color: #0065fc;
	border-radius: 0px 15px 15px 0px;
	padding: 15px;
	color: #ffffff;
	font-size: 18px;
	cursor: pointer;
	display: none;
}
i.loupe:hover {
	box-shadow: 4px 4px 6px #000093;
}



	/*Filtre du formulaire*/
.section_filtre {
	display: flex;
	flex-direction: row;
	margin-top: 27px;
	align-items: center;
}
.filtre {
	font-weight: bold;
	font-size: 22px;
}
.section_btn_filtre {
	display: flex;
}
.btn_filtre {
	background-color: white;
	border: 2px solid #d9d9d9;
	border-radius: 25px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin: 20px;
	gap: 10px;
	align-items: center;
}
.btn_filtre:hover {
	background-color:#DEEBFF
}
.icon {
	color: #0065FC;
}
.text_icon {
	font-family: raleway;
}
p.info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#logo_infos {
	border: #d9d9d9 solid 1px;
	border-radius: 25px;
	height: 24px;
	width: 24px;
	text-align: center;
	padding: 6px 3px 2px 4px;
	margin: 10px;
	color: #0065FC;
}

	/*titre cards*/
strong {
	font-weight: 700;
}

	/*flex hebergement et populaire*/
.aligner_populaire_hebergement {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


	/*section hebergement*/
.section_hebergement {
	background-color: #f2f2f2;
	border-radius: 20px;
	width: 63%;
}
.titre_section_hebergement {
	margin: 25px 0px 18px 26px;
	font-weight: 700;
}
.heberge {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
}
.article_hebergement {
	width: 30%;
	margin-bottom: 24px;
}
.cards_hebergement {
	background-color: #ffffff;
	border: 5px solid #ffffff;
	border-radius: 25px;
	box-shadow: 0px 3px 15px darkgrey;
	margin: 0px;
	display: flex;
	flex-direction: column;
}
.cards_hebergement:hover {
	box-shadow: 0px 3px 15px #444242;
}
.photo_hebergement {
	width: 100%;
	height: 126px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
}
.contenu_cards_hebergement {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	gap: 6px;
}
.contenu_cards_hebergement  p, .contenu_cards_hebergement h4{
	margin: 0px;
	font-size: 14px;
}
.etoile_gris {
	color: #f2f2f2;
}
.afficher_plus {
	margin-left: 30px;
	margin-top: 0px;
}
.afficher_plus a:hover {
	color: #0065fc;
}



	/*section populaire*/
.section_populaire {
	width: 35%;
	border-radius: 20px;
	background-color: #f2f2f2;
}
.titre_populaire {
	margin: 30px 23px 0px;
	font-weight: 700;
}
#icon_graphique {
	float: right;
	margin-top: 3px;
}
.populaire {
	display: flex;
	flex-direction: column;
	gap: 14px;
	margin: 15px;
}
.cards_populaire {
	display: flex;
	flex-direction: row;
	background-color: #ffffff;
	border: #ffffff solid 5px;
	border-radius: 25px;
	box-shadow: 0px 3px 15px darkgrey;
	height: 136px;
	margin: 0px
}
.cards_populaire:hover {
	box-shadow: 0px 3px 15px #444242;
}
.photo_populaire {
	width: 35%;
	border-radius: 20px 0px 0px 20px;
	object-fit: cover;
}
.contenu_cards_populaire {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 7px;
	font-size: 13px;
}
.titre_cards_populaire, .tarif_nuit_populaire {
	margin: 0px;
}
.etoile_populaire {
	margin-top: auto;
	margin-bottom: 0px;
}


	/*Activite Marseille*/
.section_activite {
	margin-top: 40px;
}
.titre_activite {
	margin-top: 22px;
	font-weight: 700;
}
.activite_marseille {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.article_activite {
	width: 22%;
}
.cards_activite {
	border-radius: 25px;
	margin: 0px;
	background-color: #ffffff;
	box-shadow: 0px 3px 15px darkgray;
}
.cards_activite:hover {
	box-shadow: 0px 3px 15px #444242;
}
.photo_activite {
	width: 100%;
	height: 300px;
	border-radius: 25px 25px 0px 0px;
	object-fit: cover;
}
.titre_cards_activite {
	padding: 17px;
	font-size: 13px;
	margin: 0px;
}



	/*pieds de page*/
footer {
	background-color: #f2f2f2;
	flex-direction: row;
	display: flex;
	margin-top: 22px;
	width: 100%;
}
.section_footer {
	width: 100%;
}
.titre_footer {
	padding-left: 58px;
	margin-top: 40px;
	font-size: 17px;
	font-weight: 700;
   	margin-bottom: 0px;
}
.menu_footer {
	line-height: 35px;
}
.menu_footer ul {
	list-style-type: none;
	padding-left: 60px;
}
.menu_footer a {
	color: black;
	text-decoration: none;
}
.menu_footer a:hover {
	color: blue;
}