@media screen and (min-width:992px) and (max-width:1400px){	
	/*menu*/
	menu a:hover{padding-top: 0%;}
	/*filtre*/
	div.section_filtre{
		justify-content: space-between;
	}
	strong.text_icon{
		font-size:15px;
		padding-right:5px;
	}
	i#icon {
		font-size:15px;
	}	
	i#logo_infos{
		padding: 5px 2px 1px 3px;
	}
	/*hebergement*/
	h2.titre_hebergement{
		font-size: 23px;
	}
	img.photo_hebergement{
		height: 105px;
	}
	figcaption.legende_heberge{
		font-size: 13px;
	}
	strong.titre_heberge{
	    font-size: 15px;
	    margin-top: 0px;
	}
	p.size_star{
		font-size: 11px;
	}
	p.plus{
		margin: 3% 0% 0% 2%;
	}
	/*populaire*/
	section.section_populaire{
		margin-left: 1%;
	}
	h2.titre_populaire{
		margin: 8% 0% 6% 11%;
		font-size: 22px;
	}
	i#bourse.{
		float: right;
		margin-right: 9%;
		margin-top: 3px;
	}
	figure.figure_populaire{
		height: 129px;
	}
	figcaption.legende_populaire{
		font-size: 12px;
		margin-top: 0px;
		margin-right: 17px;
	}
	strong.titre_pop{
		font-size: 15px;
	}
	p.nuit{
		line-height: 4px;
	}
	p.etoile_bas1 p.etoile_bas2{
		margin-top: 47px;
	}
	p.etoile_bas3{
		margin-top: 50px;
	}
	/*activite*/
	section.section_activite{
		margin-top: 5%;
	}
	h3.titre_activite{
		font-size: 27px;
		margin-left: 3%;
	}
	img.photo_activite{
		height: 365px;
	}
}	
@media screen and (min-width:768px) and (max-width:991px) {
	/*recherche*/
	input#recherche{
		width: 28%;
		font-size: 18px;
	}
	input#submit{
		width: 15%;
	}
	/*filtre*/
	div.section_filtre {
		justify-content: space-between;
		margin-right: 6%;
	}
	button.boutton{
		margin-left: 0px;
		height: 44px;
	}
	.info{
		font-size: 15px;
	}
	i#icon{
		font-size:18px;
		padding: 10px;
	}
	strong.text_icon{
		font-size :18px;
	}
	i#logo_infos{
		padding: 6px 3px 0px 4px;
	}
	/*flex hebergement/populaire*/
	div.alignement_hp{
		flex-direction:column;
	}
	/*hebergement*/
	section.section_herbergement{
		width:95%;
	}
	img.photo_hebergement{
		height: 122px;
	}
	figcaption.legende_heberge{
		font-size: 14px;
	}
	strong.titre_heberge{
		font-size: 16px;
	}
	p.size_star{
		font-size: 13px;
	}
	/*populaire*/
	section.section_populaire{
		width: 100%;
		margin: 5% 0% 0% 0%;
		padding-bottom: 4%;
	}
	div.populaire{
		margin-top:5%;
		display:flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	h2.titre_populaire{
		margin: 4% 0% 0% 4%;
		font-size: 23px;
	}
	i#bourse{
		margin-right: 6%;
	}
	figure.figure_populaire{
		height: 142px;
		width: 240px;
		margin: 0%;
	}
	img.photo_populaire{
		width: 40%;

	}
	figcaption.legende_populaire{
		margin-left: 15px;
		margin-right: 6px;
		font-size: 13px;
	}
	strong.titre_pop{
		margin-right: 0px;
		font-size: 16px;
	}
	p.nuit{
		line-height: 6px;
	}
	p.etoile_bas1, p.etoile_bas3{
		margin-top: 56px;
	}
	p.etoile_bas2{
		margin-top: 37px;
	}
	/*activite*/
	h3.titre_activite{
		margin: 6%;
		margin-bottom: 4%;
	}
	article.article_activite {
		width: 23%;
	}
	div.activite_marseille{
		justify-content: space-between;
	}
	figure.figure_activite{
		margin: 0px;
	}
	img.photo_activite{
	height: 312px;
	}
	.legende_activite{
		padding: 4% 0% 4% 8%;
		font-size: 12px;
	}
}


@font-face {
	font-family: raleway;
	src: url(police/Raleway.ttf);
}

/*en tete*/
.logo{
	width: 5%;
	height: 5%;
	float: left;
}
.menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
}
.menu a:hover{
	color: #0065fc;
	border-top: #0065fc solid 2px;
	padding-top: 55px;
}
.heberge {
	margin-right: 67px;
}
.activite{
	margin-right: 37px;
}


/*corps du texte*/
body{
	font-family: raleway;
	margin: 3% 3% 0% 3%;
}
.fa-solid{
	color: #0065FC;
}
a{
	text-decoration: none;
	color: black;
}


/*Formulaire*/
.sous_titre{
	line-height: 0px;
}
.section_formulaire{
	padding-top: 4%;
}
.formulaire{
	display: flex;
	flex-direction: row;
	margin-top: 2%;
}
.loupe{
	border: 1px solid #f2f2f2;
	border-radius: 15px 0px 0px 15px;
	padding: 16px 18px 15px 18px;
	background-color: #f2f2f2;
}
#location{
	color: black;
}
#recherche{
	height: 55px;
	width: 13%;
	padding-left: 1%;
	font-size: 18px;
}
#submit{
	border: solid 1px #0065fc;
	background-color: #0065fc;
	border-radius: 0px 15px 15px 0px;
	padding: 15px;
	width: 9%;
	color: #ffffff;
	font-size: 18px;
	cursor: pointer;
}

/*Filtre du formulaire*/
.section_filtre{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2% 32% 0% 0.5%;
	justify-content: space-between;
}
.filtre{
	font-weight: bold;
	font-size: 22px;
}
.boutton {
	background-color: white;
	border: 2px solid #d9d9d9;
	border-radius: 25px;
	cursor: pointer;
}
.boutton:hover{
	background-color:#DEEBFF
}

#icon{
	color: #0065FC;
	padding: 10px;
	font-size: 22px;
}
.text_icon{
	padding-right: 10px;
	font-size: 22px;
	font-family: raleway;
}
#logo_infos{
	border: #d9d9d9 solid 1px;
    border-radius: 25px;
    height: 24px;
    width: 24px;
    text-align: center;
    padding: 6px 3px 2px 4px;
    margin: 1%;
    color: #0065FC;
}



/*flex hebergement et populaire*/
.alignement_hp{
	display: flex;
    flex-direction: row;
	justify-content: center;
}


/*section hebergement*/
.section_herbergement{
	background-color: #f2f2f2;
	border-radius: 20px;
	margin-right: 2%;
	padding: 0% 2% 0% 2%;
	width: 60%;
}
.titre_hebergement{
	margin:4% 0% 1% 2%;
	font-size: 27px;
}
.articles{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}
.article_hebergement{
	width: 30%;
}
.figure_heberge{
	background-color: #ffffff;
	border: 5px solid #ffffff;
	border-radius: 25px;
	box-shadow: 0px 3px 15px darkgrey;
	margin-left: 0%;
	margin-right: 0%;
}
.photo_hebergement{
	width: 100%;
    height: 143px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.legende_heberge{
	padding-left: 6%;
    font-size: 17px;
    line-height: 7px;
}
.titre_heberge{
    font-size: 20px;
}
#star{
	color: #f2f2f2;
}
.plus{
	font-size: 18px;
	margin: 3% 0% 4% 2%;
}



/*section populaire*/
.section_populaire{
	width: 30%;
	border-radius: 20px;
	background-color: #f2f2f2;
	margin-left: 2%;
}
.populaire {
    display: flex;
    flex-direction: column;
}
.titre_populaire{
	margin: 8% 0% 6% 8%;
	font-size: 27px;
}
#bourse{
	float: right;
	margin-right: 9%;
	margin-top: 3px;
}
.figure_populaire{
	display: flex;
	flex-direction: row;
	background-color: #ffffff;
	border: #ffffff solid 5px;
	border-radius: 25px;
	box-shadow: 0px 3px 15px darkgray;
	height: 155px;
}
.photo_populaire {
	width: 40%;
	border-radius: 20px 0px 0px 20px;
	object-fit: cover;
}
.legende_populaire{
	margin-left: 15px;
	font-size: 18px;
}
.titre_pop{
	margin-right: 22px;
	font-size: 21px;
}
.etoile_bas1 .etoile_bas2{
	margin-top: 25px;
}
.etoile_bas3{
	margin-top: 50px;
}




/*Activite Marseille*/
.section_activite{
	margin-top: 3%;
}
.titre_activite{
	margin-left: 2%;
	font-size: 27px;
}
.activite_marseille{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.article_activite{
	width: 30%;
}
.figure_activite{
	border-radius: 25px;
	background-color: #ffffff;
	box-shadow: 0px 3px 15px darkgray;
}
.photo_activite{
	width: 100%;
	height: 538px;
	border-radius: 25px 25px 0px 0px;
	object-fit: cover;
}
.legende_activite{
	padding: 4% 0% 4% 6%;
}



/*pieds de page*/
footer{
	background-color: #f2f2f2;
	flex-direction: row;
	display: flex;
	margin-top: 5%;
	width: 100%;
	height: 225px;
}
.fconteneur{
	width: 100%;
}
.titre3{
	padding-left: 70px;
	margin-top: 40px;
}
.menu_footer{
	line-height: 35px;
}
.menu_footer ul{
	list-style-type: none;
	padding-left: 70px;
}
.menu_footer a{
	color: black;
	text-decoration: none;
}
.menu_footer a:hover{
	color: blue;
}